.socials {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    margin: 0;
}

.socials .social-list {
    padding: 8px 14px;
    background: #fff;
    margin-right: 10px;
    border-radius: 5px;
}

.socials .social-list .social-link {
    font-size: 20px;
}