.navbar-brand {
    font-weight: bold;
    color: #fff!important;
    font-size: 30px!important;
    margin-left: 5%;
}
.custom-btn-light {
    padding: 5px 45px!important;
    outline: none!important;
    color: #4DA6FF!important;
    font-weight: bold!important;
    border: none!important;
}

.custom-btn-other{
    padding: 4px 10px!important;
}

.p-relative{
    position: relative;
}

.custom-badge {
    background: #dc3545;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50px;
    position: absolute;
    top: -9px;
    right: -6px;
    font-size: 13px;
}

.ml-auto {
    margin-left: auto!important;
}