.bg-color-4DA6FF {
  background-color: #4DA6FF!important;
}
.custom-hr{
  color: #707070;
  margin: 0;
}
.font-bold {
  font-weight: bold!important;
}
.common-section {
  padding: 70px 0px 20px;
  text-align: center;
  background-color: #f3f3f3f2;
}
